<div class="container-popup" *ngIf="globalVariablesService.moveToPopup">

    <form [formGroup]="formFolders" (submit)="submit()" class="popup" id="popup">
        <div class="header-popup">
            <h3>Move to:</h3>
            <i (click)="closeMoveToPopup()" class="fas fa-times"></i>
        </div>


         <div class="folders">

            <label *ngFor="let folder of globalVariablesService.userFolders"><input  type="checkbox" (change)="onChange(folder._id, $event)"> {{folder.name}}</label>

         </div>

        
        <button type="submit" class="move-button">Move</button>
        
        </form>
</div>


<div class="container-uploading-popup" *ngIf="uploading">
    <div class="uploading-popup">
        <h4>Moving...</h4>
        <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
    </div>
</div>